.account-layout{
  .request-list{
    h2{
      font-weight: 700;
      margin-bottom: 2rem;
    }
    &__wrapper{
      background: white;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 2rem;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__details{
      font-size: 1.4rem;
      color: #7c8791;
    }

    &__info{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    &__info-title{
      font-weight: 700;

    }

    &__info-status{
      padding: 10px 15px;
      &--sucess{
        background: greenyellow;
        // color: white;
        font-weight: 700;
      }
      
      &--canceled{
        background: orange;
        // color: white;
        font-weight: 700;
      }

      
      &--sold{
        background: red;
        color: white;
        font-weight: 700;
      }
    }
  }
}